// Variables

// Include any variables here.

//COLORS
$gs-purple: #CE43FF;
$gs-blue: #4280FF;
$gs-dark-blue: #1D1E2C;
$gs-green: #70ED9B;
$gs-light-green: #73FDA3;
$gs-orange: #f7941d;

//greys
$white: #fff;
$lighter-grey: #f8f8f8;
$light-grey: #DEDED8;
$faq-grey: #E1E1DC;
$row-bg-grey: #F3F3F1;
$mid-grey: #888;
$dark-grey: #333;
$text-grey: #303030;
$dark-blue-black: #0B0C1E;
$black: #000;